# Configuration file

brewing {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


buildingblocks {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


combat {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


customTabs {
}


decorations {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


food {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


inventory {
    S:background=inventory.png
    B:displayTitle=true
    B:scrollbar=true
}


materials {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


misc {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


natura {

    plants {
        S:background=items.png
        B:displayTitle=true
        B:scrollbar=true
    }

    trees {
        S:background=items.png
        B:displayTitle=true
        B:scrollbar=true
    }

    nether {
        S:background=items.png
        B:displayTitle=true
        B:scrollbar=true
    }

}


redstone {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


search {
    S:background=item_search.png
    B:displayTitle=true
    B:scrollbar=true
}


tabbiomesoplenty {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


tconstructblocks {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


tconstructequipables {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


tconstructmaterials {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


tconstructparts {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


tconstructtools {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


tconstructweaponry {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


tools {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


transportation {
    S:background=items.png
    B:displayTitle=true
    B:scrollbar=true
}


