# Configuration file

amethyst {
    D:attackDamage=5.0
    I:durability=2013
    D:efficiency=15.0
    I:enchantability=16
    I:harvestLevel=4
}


bloodwood {
    D:attackDamage=3.0
    I:durability=350
    D:efficiency=7.0
    I:enchantability=24
    I:harvestLevel=3
}


emerald {
    D:attackDamage=3.0
    I:durability=1561
    D:efficiency=8.0
    I:enchantability=10
    I:harvestLevel=3
}


gold {
    D:attackDamage=0.0
    I:durability=32
    D:efficiency=12.0
    I:enchantability=22
    I:harvestLevel=0
}


iron {
    D:attackDamage=2.0
    I:durability=250
    D:efficiency=6.0
    I:enchantability=14
    I:harvestLevel=2
}


mud {
    D:attackDamage=0.0
    I:durability=32
    D:efficiency=0.5
    I:enchantability=1
    I:harvestLevel=0
}


stone {
    D:attackDamage=1.0
    I:durability=131
    D:efficiency=4.0
    I:enchantability=5
    I:harvestLevel=1
}


wood {
    D:attackDamage=0.0
    I:durability=59
    D:efficiency=2.0
    I:enchantability=15
    I:harvestLevel=0
}


